/* * {
    border-width: 0px;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    padding: 0px;
    overflow: hidden;
    z-index: 3;
}
 */
/*from component*/

.dgLabel{
  display: -webkit-flex;
  display: flex; /*added*/
  -webkit-align-items:center;
  align-items: center;/*added*/
  -webkit-justify-content:right;
  justify-content: right;/*added*/
}

/*from view*/

div,img{
  z-index:0;
  pointer-events:auto;
  box-sizing:border-box;
}

div.absolute > div, div.absolute > svg{
  position:absolute;
}

div.horizontal{
  /*align-content: flex-start;*/
  /*flex-wrap: wrap;*/
  /*display: -webkit-flexbox;*/
  display: -webkit-flex;/*added*/
  display: flex;
  flex-direction: row;

  -webkit-align-content:flex-start;
  align-content:flex-start;/*moved down*/
}

div.horizontal > div, div.horizontal > svg{
  position: relative;
}


/*Daniel is forcing this at the end when he exports, I don't see a difference*/
/*body {
  overflow: scroll !important;
}*/